.page {
    /* Styles for better appearance on screens only -- are reset to defaults in print styles later */
    /* Reflect the paper width in the screen rendering (must match size from @page rule) */
    width: 21cm;
    /* Reflect the paper height in the screen rendering (must match size from @page rule) */
    min-height: 29.7cm;
    /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
    /* padding-left: 2cm;
    padding-top: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm; */
    padding: 10px;
    /* Require that at least this many lines of a paragraph must be left at the top of a new page */
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */

/* Defines a class for manual page breaks via inserted .page-break element */

/* .reference-section , .experience-section , .non-education-section , .education-section , .skill-section >{
    ul>li {
    page-break-inside: auto;
}
} */

div.page-break {
    page-break-after: always;
}

/* For top-level headings only */

h1 {
    /* Force page breaks after */
    page-break-before: always;
}

/* For all headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Avoid page breaks immediately */
    page-break-after: avoid;
}

/* For all paragraph tags */

p {
    /* Reset the margin so that the text starts and ends at the expected marks */
    margin: 0;
}

/* For adjacent paragraph tags */

/* For links in the document */

a {
    /* Prevent colorization or decoration */
    text-decoration: none;
    color: black;
}

/* For tables in the document */

table {
    /* Avoid page breaks inside */
    page-break-inside: avoid;
}

ul>li {
    /* padding-bottom: 5px; */
    page-break-inside: avoid;
}

ul>li p {
    margin-bottom: 1px;
}

.title-resume {
    page-break-before: auto;
    margin-top: 10px;
    page-break-inside: avoid;    
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */

@page {
    /* You can only change the size, margins, orphans, widows and page breaks here */
    /* Paper size and page orientation */
    size: A4 portrait;
    /* Margin per single side of the page */
    height: 100%;
    margin: 0.2cm;
    /* margin-left: 2cm;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm; */
    /* You can only change the size, margins, orphans, widows and page breaks here */
    /* Require that at least this many lines of a paragraph must be left at the bottom of a page */
    orphans: 3;
    /* Require that at least this many lines of a paragraph must be left at the top of a new page */
    widows: 5;
}

/* When the document is actually printed */

@media print {
    html,
    body {
        height: 100%;
    }
    .page {
        /* Reset all page styles that have been for better screen appearance only */
        /* Break cascading by using the !important rule */
        /* These resets are absolute must-haves for the print styles and the specificity may be higher elsewhere */
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
        height: 100% !important;
        /* orphans: 20; */
        /* Require that at least this many lines of a paragraph must be left at the top of a new page */
        /* widows: 10; */
        /* Force page breaks after each .page element of the document */
        page-break-after: always;
    }
}